@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic);

$primary: #FFFFFF;
$secondary: #000000;
$tertiary: #303030;
$quaternary: #8E24AA;

// columns
$column_total: 12;
$small: 768px;
$medium: 992px;
$large: 1200px;

// rest
body {
	font-family: 'Open Sans', serif;
}

@for $i from 1 through 6 {
	h#{$i} {
		color: $tertiary;
	}
}

strong {
	color: $tertiary;
}

p {
	margin-bottom: 2em;
}

.title {
	font-size: 1.5em;
	margin-bottom: 0;
}

.information {
	color: lighten($tertiary, 40);
	margin: 0;
	font-size: 0.75em;
}

a:link {
	color: $secondary;
	text-decoration: underline;
}

a:visited {
	color: $secondary;
	text-decoration: underline;
}

a:active {
	color: $secondary;
	text-decoration: underline;
}

a:hover {
	color: lighten($secondary, 20);
	text-decoration: none;
}

img.alignright {
	float:right;
	margin:0 0 1em 1em;
}
img.alignleft {
	float:left;
	margin:0 1em 1em 0;
}
img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
a img.alignright {
	float:right;
	margin:0 0 1em 1em;
}
a img.alignleft {
	float:left;
	margin:0 1em 1em 0;
}
a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}