.container {
	@include flexbox();
	min-height: 100vh;

	@media screen and (max-width: 768px) {
		display: block;
	}

	.content {
		@include flexbox();
		@include flex(1);
		flex-direction: column;
	}
}

.row {
	@include flexbox();
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

// column xs
@for $j from 1 through $column_total {
	.col-x-#{$j}-12 {
		width: 100% * ($j / 12);
		padding-left: 10px;
		padding-right: 10px;
		min-height: 1px;
		position: relative;
		box-sizing: border-box;
	}
}

// column small
@media (min-width: $small) {
	@for $j from 1 through $column_total {
		.col-s-#{$j}-12 {
			width: 100% * ($j / 12);
			padding-left: 10px;
			padding-right: 10px;
			min-height: 1px;
			position: relative;
			box-sizing: border-box;
		}
	}
}

// column medium
@media (min-width: $medium) {
	@for $j from 1 through $column_total {
		.col-m-#{$j}-12 {
			width: 100% * ($j / 12);
			padding-left: 10px;
			padding-right: 10px;
			min-height: 1px;
			position: relative;
			box-sizing: border-box;
		}
	}
}

// column large
@media (min-width: $large) {
	@for $j from 1 through $column_total {
		.col-l-#{$j}-12 {
			width: 100% * ($j / 12);
			padding-left: 10px;
			padding-right: 10px;
			min-height: 1px;
			position: relative;
			box-sizing: border-box;
		}
	}
}

.no-gutter {
	padding-left: 0;
	padding-right: 0;
}