.post {
	.image {
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;

		&:before {
			display: block;
			content: "";
			padding-bottom: 56.25%;
		}
	}

	.contents {
		h3 {
			margin-bottom: 0;

			a {
				text-decoration: none;
				color: $secondary;

				&:hover {
					text-decoration: underline;
					color: lighten($secondary, 30);
				}
			}
		}
	}
}