.site-header {
	min-width: 200px;
	background-color: $tertiary;
	color: $primary;
	padding: 20px 0;
	position: relative;

	.site-logo {
		text-align: center;
		h1 {
			font-size: 3em;
			font-weight: 400;
			color: $primary;
		}
	}

	.site-nav {
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			text-align: right;

			li {
				a {
					color: $primary;
					text-decoration: none;
					display: inline-block;

					width: 100%;
					padding: 10px 15px 10px 0;
					box-sizing: border-box;

					@include transition(background-color 150ms ease-in-out, color 150ms ease-in-out, border 200ms ease-in-out);

					&:hover {
						color: darken($primary, 10);
						text-decoration: none;
						background-color: darken($tertiary, 10);
						border-right: 6px solid $quaternary;
					}
				}

				&.active, &.current-menu-item {
					a {
						border-right: 6px solid $quaternary;
					}
				}
			}
		}
	}

	.navigation-toggle {
		display: none;

		width: 40px;
		height: 40px;
		// background-color: $primary;
		position: absolute;
		right: 10px;
		top: 50%;
		margin-top: -20px;
		z-index: 999;

		.bar {
			display: block;
			position: relative;
			width: 40px;
			height: 4px;
			margin-bottom: 8px;
			background-color: $primary;

			&:last-child {
				margin-bottom: 0;
			}
			
			@include transition(all 200ms ease-in-out);
			opacity: 1;

			.menu-active & {
				opacity: 0;

				&:first-child {
					@include transform(rotateZ(45deg));
					opacity: 1;
					top:50%;
					margin-top: -2px;
				}

				&:last-child {
					@include transform(rotateZ(-45deg));
					opacity: 1;
					margin-top: -4px;
				}
			}
		}
	}
}

.header-responsive {
	position: fixed;
	right: 0;
	top: 0;
	height: 100%;
	width: 100%;
	max-width: 320px;
	z-index: 998;

	@include transition(transform 200ms ease-in-out);
	@include translateX(100%);

	overflow-x: hidden;
	overflow-y: hidden;

	background-color: $tertiary;

	.menu-active & {
		@media screen and (max-width: 768px) {
			@include translateX(0%);
		}
	}
	
	.responsive-container {
		position: absolute;
		padding-top: 60px;
		width: 100%;
		height: 100%;
		overflow-x: hidden;
		overflow-y: auto;

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;

			li {
				position: relative;
				padding: 0;
				margin: 0;
				width: 100%;

				a {
					display: inline-block;
					padding: 20px 20px;
					white-space: nowrap;
					overflow: hidden;
					color: $primary;
					text-decoration: none;
					text-align: center;
					width: 100%;

					@include transition(all 200ms ease-in-out);

					&:hover {
						background-color: lighten($tertiary, 5);
						text-decoration: none;
					}
				}
			}
		}
	}
}

body.menu-active {
	@media screen and(max-width: 768px)
	{
		overflow: hidden;
	}
}

@media screen and (max-width: 768px) {
	.site-header {
		width: auto;
		
		.site-logo {
			padding: 0 0 0 15px;
			text-align: left;
			h1 {
				margin: 5px;
			}
		}

		.site-nav {
			display: none;
		}
		
		.navigation-toggle {
			display: block;
		}
	}
}