{% extends 'base.twig' %}

{% block content %}
	<div class="row">
		<div class="col-8-12">
			<h1>HAHA! THE PAGE YOU'RE LOOKING FOR CAN'T BE FOUND!</h1>
			<p>
				SO GET SHIT ON! HAHA!
			</p>
		</div>
	</div>
{% endblock %}