<!DOCTYPE html>
<html {{ site.language_attributes }}>
	{% block head %}
		<head>
			<title>
				{% if wp_title %}
					{{ wp_title }}
				{% else %}
					{{ site.name }}
				{% endif %}
			</title>
			<meta charset="{{ site.charset }}">
			<meta description="{{ site.description }}">
			<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<link rel="pingback" href="{{site.pingback_url}}" />
			{{ function('wp_head') }}
		</head>
	{% endblock %}
	
	<body>
		{% include 'includes/svg-icons.twig' %}
		<div class="container scene" id="main">

			{% block header %}
				<header class="site-header">
					<div class="site-logo">
						<h1>SB</h1> {# Add tagline? #}
					</div>
					<nav class="site-nav">
						<ul>
							{% for item in menu.get_items %}
								<li class="{{ item.classes|join(' ') }}">
									<a href="{{ item.get_link }}">{{ item.title }}</a>
								</li>
							{% endfor %}
						</ul>
					</nav>
					<div class="navigation-toggle">
						<span class="bar"></span>
						<span class="bar"></span>
						<span class="bar"></span>
					</div>
				</header>
				
				<div class="header-responsive">
					<div class="responsive-container">
						<ul>
							{% for item in menu.get_items %}
								<li class="{{ item.classes|join(' ') }}">
									<a href="{{ item.get_link }}">{{ item.title }}</a>
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			{% endblock %}
			<div class="content scene-element scene-element-slideBottom">
				{% block content %}
					{{ __('Sorry, no content here', 'sb_portfolio') }}
				{% endblock %}
				{% block footer %}
					<div class="row">
						<div class="col-x-12-12 col-s-10-12 col-m-8-12 footer">
							copyright &copy; {{ site.name }} - {{ 'now'|date('Y') }}
						</div>
					</div>
				{% endblock %}
			</div>
		</div>
		{{ function('wp_footer') }}
	</body>
</html>