{% extends 'base.twig' %}

{% block content %}
	<div class="row">
			<div class="col-x-12-12 col-s-12-12 col-m-12-12 col-l-12-12 keyvisual">
				<div class="visual small" style="background-image: url('{{ default_keyvisual }}');"></div>
				<div class="overlay">
					<div class="align-middle">
						<h2>{{ __('Latest articles', 'sb_portfolio') }}</h2>
					</div>
				</div>
			</div>
		</div>
	<div class="row">
		<div class="col-x-12-12 col-s-10-12 col-m-8-12">
			{% for post in posts %}
				{% include ['tease-'~post.type~'.twig', 'tease.twig'] %}
			{% endfor %}
		</div>
	</div>
{% endblock %}