{% extends 'base.twig' %}

{% block content %}
	{% if post.thumbnail %}
		<div class="row">
			<div class="col-x-12-12 col-s-12-12 col-m-12-12 col-l-12-12 keyvisual">
				<div class="visual {{ post.get_field('size') == 'Small' ? 'small' : '' }}" style="background-image: url('{{ post.thumbnail.src }}');"></div>
				{% if post.get_field('show_label') == 'Yes' %}
					<div class="overlay">
						<div class="align-middle">
							<h2>{{ post.get_field('label')|escape }}</h2>
						</div>
					</div>
				{% endif %}
			</div>
		</div>
	{% endif %}
	<div class="row">
		<div class="col-x-12-12 col-s-10-12 col-m-8-12">
			{{ post.content }}
		</div>
	</div>
{% endblock %}