{% extends 'base.twig' %}

{% block content %}
	<div class="row">
		<div class="col-x-12-12 col-s-12-12 col-m-12-12 col-l-12-12 keyvisual">
			<div class="visual small" style="background-image: url('{{ post.thumbnail.src ? post.thumbnail.src : default_keyvisual }}');"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-x-12-12 col-s-10-12 col-m-8-12">
			<h1 class="title">{{ post.title }}</h1>
			<h4 class="information">{{ __('Posted on %s', 'sb_portfolio')|format(post.post_date|date) }}</h4>
			{{ post.content }}
		</div>
	</div>
{% endblock %}