{% extends 'base.twig' %}

{% block content %}
	{% if post.thumbnail %}
		<div class="row">
			<div class="col-x-12-12 col-s-12-12 col-m-12-12 col-l-12-12 keyvisual">
				<div class="visual small" style="background-image: url('{{ post.thumbnail.src }}');"></div>
			</div>
		</div>
	{% endif %}
	<div class="row">
		<div class="col-x-12-12 col-s-10-12 col-m-8-12">
			<h1 class="title">{{ post.title }}</h1>
			<h4 class="information">
				{{ __('Project date: %s', 'sb_portfolio')|format(post.get_field('project_date')?post.get_field('project_date')|date:'-') }}<br/>
				{{ __('Created with: %s', 'sb_portfolio')|format(post.get_field('project_created')?post.get_field('project_created'):'-') }}
			</h4>
			{{ post.content }}
		</div>
	</div>
{% endblock %}