<div class="row post">
	<div class="col-x-12-12 col-s-12-12 col-m-12-12 contents">
		<h3><a href="{{ post.link }}">{{ post.title }}</a></h3>
		<h4 class="information">{{ __('Posted on %s', 'sb_portfolio')|format(post.post_date|date) }}</h4>
		<p>
			{% set post_content = post.content|striptags %}
			{{ post_content|length > 140 ? post_content|slice(0,140) ~ '...' : post_content }}
			<br/>
			<a href="{{ post.link }}">{{ __('Read more', 'sb_portfolio') }}...</a>
		</p>
	</div>
</div>