<div class="col-x-12-12 col-s-6-12 col-m-4-12 col-l-3-12 portfolio-item">
	<div class="portfolio-image" style="background-image: url('{{ project.thumbnail.src }}');"></div>
	<div class="overlay">
		<div class="item-title">{{ project.title }}</div>
		<a href="{{ project.link }}"><div class="item-link"></div></a>
	</div>
</div>