@include keyframes(fadeIn) {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@include keyframes(slideBottom) {
	0% {
		opacity: 0;
		@include transform(translate3D(0, 25%, 0));
	}
	100% {
		opacity: 1;
		@include transform(none);
	}
}

@include keyframes(slideRight) {
	0% {
		opacity: 0;
		@include transform(translate3D(100%, 0, 0));
	}
	100% {
		opacity: 1;
		@include transform(none);
	}
}

.scene {
	.scene-element {
		@include animation-duration(250ms);
		@include transition-timing-function(ease-in);
		@include animation-fill-mode(both);
	}

	.scene-element-fadeIn {
		@include animation-name(fadeIn);
	}

	.scene-element-slideBottom {
		@include animation-name(slideBottom);
	}

	.scene-element-slideRight {
		@include animation-name(slideRight);
	}

	&.is-exiting {
		.scene-element {
			@include animation-direction(alternate-reverse);
		}
	}
}