.download-list {
	margin: 0;
	padding: 0;
	list-style-type: none;

	li {
		&:first-child {
			border-top: 2px solid rgba(lighten($secondary, 20), 0.25);
		}

		padding: 0;
		border-bottom: 2px solid rgba(lighten($secondary, 20), 0.25);
		margin: 0;

		a {
			display: block;
			padding: 10px 0;
			text-decoration: none;

			.icon {
				display: inline-block;
				width: 1em;
				height: 1em;
				margin-right: 5px;
				fill: currentColor;
			}
		}
	}

}