.keyvisual {
	position: relative;
	padding: 0;

	.visual {
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		
		&.small {
			&:before {
				display: block;
				content: "";
				width: 100%;
				padding-bottom: 25%;

				@media screen and (max-width: 768px) {
					padding-bottom: 43.75%;
				}
			}
		}

		&:before {
			display: block;
			content: "";
			width: 100%;
			padding-bottom: 43.75%;
		}
	}
	> .overlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		background-color: rgba($secondary, 0.50);
		color: $primary;

		.align-middle {
			width: 100%;
			text-align: center;
			position: absolute;
			top: 50%;
			@include translateY(-50%);
			
			h2 {
				margin: 0;
				font-size: 2em;
				color: $primary;
			}
		}
	}
}