.portfolio-item {
	position: relative;
	padding: 0;

	.portfolio-image {
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;

		&:before {
			display: block;
			content: "";
			width: 100%;
			padding-bottom: 75%;
		}
	}
	> .overlay {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		opacity: 0;
		color: $primary;
		background-color: rgba($secondary, 0.5);
		
		@include transition(all 200ms ease-in-out);

		&:hover {
			opacity: 1;
		}

		.item-title {
			width: 100%;
			text-align: center;
			position: absolute;
			top: 50%;
			@include translateY(-50%);
			z-index: 9;
		}

		.item-link {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			z-index: 10;
		}
	}
}